<div class="col-md-3">
    <div class="left-sidebar">
        <h2>Kullanıcı Menüsü</h2>

        <ul class="mainmenu">
            <li><a href="{{ path('userpanel_show') }}"><span class="icon-chevron-right"></span>Bilgilerim</a></li>
            <li><a href="{{ path('userpanel_edit') }}"><span class="icon-chevron-right"></span>Düzenle</a></li>
            <li><a href="{{ path('orders_index') }}"><span class="icon-chevron-right"></span>Siparişlerim</a></li>
            <li><a href="{{ path('shopcart_index') }}"><span class="icon-chevron-right"></span>Sepetim</a></li>
            <li><a href="#"><span class="icon-chevron-right"></span>Favori Ürünlerim</a></li>
            <li><a href="#"><span class="icon-chevron-right"></span>Sipariş Geçmişi</a></li>
            <li><a href="products.html.twig"><span class="icon-chevron-right"></span>yorumlarım</a></li>
            <li><a href="{{ path('app_logout') }}"><span class="icon-chevron-right"></span>Exit </a></li>
        </ul>
    </div>

</div>
