{% extends 'frontbase.html.twig' %}

{% block title %} {{ data[0].title }}{% endblock %}
{% block keywords %}{{ data[0].keywords }}{% endblock %}
{% block description %}{{ data[0].description }}{% endblock %}
{% block sidebar %} {{ include('home/_sidebar.html.twig') }} {% endblock %}

{% block content %}


<div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="images/product-details/1.jpg" alt="">
                <h3>ZOOM</h3>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#"><img src="{{ asset('uploads') }}/images/{{ data[0].image }}" alt="" style="..."></a>
                    </div>
                    {% for rs in images %}
                    <div class="item">
                    <a href="#"><img src="{{ asset('uploads') }}/images/{{ rs.image }}" alt="" style="..."></a>
                    </div>
                    {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                <img src="images/product-details/new.jpg" class="newarrival" alt="">
                <h2>{{ data[0].title }}</h2>
                <img src="images/product-details/rating.png" alt="">

        <form name="shopcart" class="form-horizontal qtyFrm" action="{{ path('shopcart_new') }}" method="post">
            <div class="control-group">
                <label class="control-label"><span>Fiyat覺:{{ data[0].sprice }} TL</span></label>
                <br>
                <label class="control-label"> <span>Al覺nacak Adet Say覺s覺: </span></label>

                <input type="number" name="shopcart[quantity]" class="span6" value="1" placeholder="Qty." max="{{ data[0].amount }}"></inputtype>
                <input type="hidden" name="shopcart[protuctid]" value="{{ data[0].id }}">

            </div>

            <h4>{{ data[0].amount }}Adet stokta var.</h4>
            <p>{{ data[0].description }}
            </p>
            <input type="hidden" name="token" value="{{ csrf_token('add-item') }}">
            <button type="submit" class="shopBtn"><span class="icon-shopping-cart"></span>Add to cart </button>
            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>
        </form>
     </div>
    </div>
    <hr class="softn clr">

    <ul id="productDetail" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
        <li class=""><a href="#profile" data-toggle="tab">Related Products</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acceseries <b class="caret"></b> </a>
            <ul class="dropdown-menu">
                <li><a href="#cat1" data-toggle="tab">Category one</a> </li>
                <li><a href="#cat2" data-toggle="tab">Category two</a> </li>
            </ul>
        </li>

    </ul>
    <div id="myTabContent" class="tab-content tabWrapper">
    <div class="tab-pane fade active in" id="home">
        <h4>Product Information</h4>
        {{ data[0].detail|raw }}
    </div>
    <div class="tab-pane fade" id="profile">
        <div class="row-fluid">
            <div class="span2">
                <img src="assets/img/d.jpg" alt="">
            </div>
        </div>
        <div class="tab-pane fade" id="details">
            <div class="col-sm-3">
                <div class="product-image-wrapper">

                </div>
            </div>



        </div>



        <div class="tab-pane fade active in" id="reviews">
            <div class="col-sm-12">
                <ul>
                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Write Your Review</b></p>

                <form action="#">
										<span>
											<input type="text" placeholder="Your Name">
											<input type="email" placeholder="Email Address">
										</span>
                    <textarea name=""></textarea>
                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="">
                    <button type="button" class="btn btn-default pull-right">
                        Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
</div><!--/category-tab-->


</div>
{% endblock %}