{% extends 'frontbase.html.twig' %}

{% block title %} Shopcart Sepet{% endblock %}


{% block content %}

    <div class="container">
        {{ include ('home/_usersidebar.html.twig') }}
        <div class="col-md-9">
            <h5>Shopcart Items</h5>
            {{ include ('messages.html.twig') }}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for shopcart in shopcarts %}
                    <tr>
                        <td>{{ shopcart.id }}</td>
                        <td>{{ shopcart.title }}</td>
                        <td>{{ shopcart.sprice }}</td>
                        <td>{{ shopcart.quantity }}</td>
                        <td>{{ (shopcart.quantity * shopcart.sprice) }}</td>
                        <td>
                        <td><a href="{{ path('shopcart_del',{'id':shopcart.id}) }}" onclick="return confirm('Silinsin mi?');" class="btn btn-danger">Sil</a></td>

                        </td>
                    </tr>
                    {% set total = total + (shopcart.quantity * shopcart.sprice) %}
                {% else %}
                    <tr>
                        <td colspan="5">Sepet Boş</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><b>Toplam Alışveriş Tutarı : {{ total }} TL</b> <br>

                    </td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('orders_new') }}" class="btn btn-block btn-success mce-btn-large">Ürünleri Satınal</a>
        </div>
    </div>
{% endblock %}
