{% extends 'adminbase.html.twig' %}
{% block title %}Sipariş Listesi{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h4>Sipariş Listesi</h4>

                <div class="col-md-9">
                    <table class="table table-bordered col-md-6">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Shipinfo</th>
                            <th>Note</th>
                            <th>Status</th>
                            <th>Islem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>

                                <td>{{ order.name }}</td>
                                <td>{{ order.amount }}</td>
                                <td>{{ order.city }}</td>
                                <td>{{ order.phone }}</td>
                                <td>{{ order.shipinfo }}</td>
                                <td>{{ order.note }}</td>
                                <td>{{ order.status }}</td>

                                <td>
                                    <a href="javascript:openWin('{{  path('admin_orders_show', {'id': order.id}) }}','','toolbar=no,location=no,directories=no,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=600,height=500');">
                                        Göster </a>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="13">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

