{% extends 'frontbase.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block content %}
    <div class="container">
        {{ include ('home/_usersidebar.html.twig') }}
        <div class="col-md-9">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Userid</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone</th>

                    <th>Status</th>
                    <th>Note</th>
                    <th>Updated_at</th>
                    <th>Created_at</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.userid }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.phone }}</td>

                        <td>{{ order.status }}</td>
                        <td>{{ order.note }}</td>
                        <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
